[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "baskexact"]
	path = baskexact
	url = https://github.com/lbau7/baskexact
[submodule "basksim"]
	path = basksim
	url = https://github.com/lbau7/basksim
